body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: black;
}
.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 200px);
    /* grid-gap: 10px; */
    height: 100%;
}
.item {
    background: rgb(250, 251, 252);
    padding: 10px;
    border: 1px solid rgb(252, 247, 247);
    /* margin-bottom: 10px;
    margin-right: 10px; */
}


.fas fa-share

.menu {
    background: rgb(3, 1, 26);
    padding: 10px;
    border: 1px solid rgb(12, 1, 32);
}

.titulo {
    color: rgb(15, 12, 12);
    font-weight: bold;
}
.visitas {
    color:rgb(114, 112, 112,0.9);
    opacity: 1;
}
input[type="submit" i] {
    padding: 4px 8px;
    background: linear-gradient(rgb(194, 0, 33), rgb(216, 49, 174));
    color:white;
    -webkit-border-radius: 12px 12px 12px 12px;
}

.info-social-btn {
    background-color: aqua;
    color:white;
    -webkit-border-radius: 12px 12px 12px 12px;
    padding: 8px 8px;
    display: inline-block;
    margin-top:0;
    width: 60px;
}

.boton1 {
    background-color: #3be2cc;
    color:white;
    -webkit-border-radius: 12px 12px 12px 12px;
    padding: 4px 8px;
    display: inline-block;
    margin-top:0;
    width: 60px;
    cursor: pointer;
}
a:hover {
    color:rgb(34, 2, 2);
}
.boton1:hover{
    color:rgb(153, 0, 255);
    transition:1s;
}
.boton2 {
    background-color: #e23bb0;
    color:white;
    -webkit-border-radius: 12px 12px 12px 12px;
    padding: 4px 8px;
    display: inline-block;
    margin-top:0;
    width: 60px;
}

.boton3 {
    background-color: #e25c3b;
    color:white;
    -webkit-border-radius: 12px 12px 12px 12px;
    padding: 4px 8px;
    display: inline-block;
    margin-top:0;
    width: 60px;
}

a {
    color:white;
    text-decoration: none;
}

.boton4 {
    background-color: #e2d13b;
    color:white;
    -webkit-border-radius: 12px 12px 12px 12px;
    padding: 4px 8px;
    display: inline-block;
    margin-top:0;
    width: 60px;
}

.myBtn {
    background: linear-gradient(pink,green,blue);
}


.comentarios {
    background: rgb(245, 244, 244);
    padding: 10px;
}

 .p breve {
     text-align: left;
 }

.comentando {
    display:flex;
    margin-top:10px;
    font-family: 'Inconsolata', monospace;

}

.sugerencias {
    background: rgb(245, 244, 244);
    padding: 10px;
   
    text-align: start;
    color:rgb(3, 3, 3);
    font-weight: bold;
    justify-content: space-between;
}
.image  {
    margin-top:10px;
}
.image2 {
    margin-top:10px;
}

.h9 {
    color:red;
    font-weight: bold;
    text-align: center;
}
.h10 {
    text-align: left;

}


.comentando2 {
    display:flex;
    font-family: 'Inconsolata', monospace;
  
}
.comentando3 {
    display:flex;
    font-family: 'Inconsolata', monospace;
   
}
.comentando4 {
    display:flex;
    font-family: 'Inconsolata', monospace;
    
}
.comentando5 {
    display:flex;
    font-family: 'Inconsolata', monospace;
   
}



.menu {
 text-align: start;

}
h1 {
    color: white;
    font-family: 'Baloo Bhai', cursive;
}
strong {
    color: rgba(252, 13, 13, 0.9);
    font-family: 'Baloo Bhai', cursive;
}
strong2 {
    color: rgba(207, 41, 94, 0.7);
    font-family: 'Baloo Bhai', cursive;

}
.video {
   /*  background: lightblue;
    padding: 10px;
    border: 1px solid red;
    margin: 0; */
    
}
h2 {
    color:white;
    font-size: 20px;

}

.fa-cloud-download-alt:before {
    content: "\f381";
    color:black;
}

.fa-share:before {
    content: "\f064";
    color:black;
}

ol {
    color: white;
    margin:0;
    font-size: 12px;
}



ul {
    color:white;
    font-size: 12px;
    text-align: center;
    display:inline;
}
streng {
    color: rgb(3, 1, 26);
}
.texto{
    text-align: center;
    color:rgb(89, 0, 255);
    margin-top: 0;
    display:block;

}
h3 {
    color:white;
}
.imagenes {
    color:white;
    display:inline-table;
    vertical-align: center;
}

.menu:nth-of-type(1) {
 grid-column: 2/ span 1;
 grid-row: 1 / span 7;
 background: #05011b;
}
.video:nth-of-type(2) {
 grid-column: 3/ span 4;
 grid-row: 1 / span 2;
}
.item:nth-of-type(3) {
 grid-column: 3/ span 4;
/*  grid-row: 1 / span 1; */

}
.comentarios:nth-of-type(4) {
 grid-column: 3/ span 2;
 grid-row: 4 / span 4;
}
.sugerencias:nth-of-type(5) {
 grid-column: 5/ span 2;
 grid-row: 4 / span 4;
}


.video iframe {
    margin: 0;
    width: 100%;
height: 100%;
margin-top:0;
}


    
    input[type="search" i] {
        -webkit-appearance: searchfield;
    box-sizing: border-box;
        padding: 10px;
        background: url(../imagenes/queen_icon-icons.com_55037.png);
        -webkit-border-radius: 12px 12px 12px 12px;
-webkit-box-shadow: 2px 2px 5px #333;
background-repeat: no-repeat;
width: 80%;
background-color: #ebe6e8;
    }

    
    
 
